#body-home2 {
    max-width: 100%;
    height: 100vh;
    display: inline-block;
    .home {
        
        .header-box2 {
            width: 100%;
            height: 15vh;
            display: flex;
            
            .nav-img2 {
                margin-top: 18%;
                margin-left: 8%;
                margin-right: 50%;
                width: 10%;
                .img-nav2 {
                   width: 70%;
                }
            }
            .nav-img3 {
                margin-right: -40%;
                .img-my-basket2 {
                    width: 80%;
                    margin-top: 5%;
                }
            }
        }
        
        .body-box2 {
            width: 100%;
            height: 18vh;
            .card-hello2 {
                display: flex;
                .hello {
                    font-size: 3.3rem;
                    margin-left: 5%;
                    margin-right: 20%;
                }
                .bold {
                    font-weight: bold;
                }
            }
        
            .body-box3 {
                margin-top: 5%;
                display: flex;
        
                .card-search2{
                    
                    .input-text3 {
                        margin-top: .75rem;
                        margin-left: 7%;
                        height: 8.5rem;
                        text-align: left;
                        width: 45.75rem;
                        background-color: #F3F1F1;
                        color: rgb(255, 255, 255);
                        /*letter-spacing: 0.125rem;*/
                        font-size: 2.3rem;
                        cursor: pointer;
                        border-radius: 3.25rem;
                        border-color: #F3F1F1;
                        padding-left: 10%;
                    }
                    .input-text3::placeholder {
                        color: #C2BDBD ;
                        margin-left: 5%;
                    }

                    .card-icon {
                        display: flex;
                        position: relative;
                        max-width: 100%;
                        .icon {
                            width: 6%;
                            margin-top: -19%;
                            margin-left: 10%;
                        }
                    }
                }
                .card-group6 {
                    .img-group6 {
                        margin-left: 150%;
                        margin-top: 50%;
                        width: 75%;
                    }
                }
            }
        }
        
        .body-recommended1 {
            width: 100%;
            height: 4vh;
            font-weight: bold;
        }
        .body-recommended1 h1 {
            margin-top: 4%;
            font-size: 3.9rem;
            margin-left: 8%;
           
        }
        
        .card-combo {
            width: 100%;
            margin-top: 5%;
            height: 24vh;
            display: flex;
            .card-honey {
                width: 50%;
                .img-honey {
                    width: 135%;
                }
            }
            .card-berry {
                width: 50%;
                .img-berry {
                    width: 135%;
                    margin-left: -15%;
                }
            }
        }
        
        
        .card-li {
            margin-left: -2%;
            margin-top: 20%;
            text-align: center;
        }
        .card-li li{
            display: inline-block;
            padding: 1rem;
            margin-left: 5%;
        }
        .card-li a{
            font-size: 3rem;
            color: #938DB5;
            text-decoration: none;
        }
        #li-hottest {
            font-size: 3.8rem;
            color: black;
            font-weight: bold;
        }

        .card-line {
            width: 8%;
            height: 4px;
            background-color: #FFA451;
            margin-left: 5%;
        }
        
        .card-hottest {
            height: 27vh;
            display: flex;
            width: 100%;
            margin-top: 10%;
            .card-quinoa {
                width: 45%;
                .img-quinoa {
                    margin-left: 10%;
                    width: 85%;
                }
            }
            .card-tropical {
                width: 45%;
                .img-tropical {
                    width: 85%;
                    margin-left: 5%;
                }
            }
            .card-melon {
                width: 10%;
                .img-melon {
                    margin-left: 5%;
                    width: 108%;
                }
            }
        }
    }
    
}

